<h1>Profile</h1>

<% if (user.photo) {  %>
  <img src="<%= user.photo %>">
<% } else { %>
  <img src="/images/profile.jpg">
<% } %>

<p>User #<%= user.id %>: <%= user.username %></p>

<% if (user.email) {  %>
  <p>Email address: <%= user.email %></p>
<% } else { %>
  <p>Signed in using <%= user.provider %></p>
<% } %>

<p>Joined: <%= user.createdAt %></p>

<br>

<h2>Progress (+ scores)</h2>

<% if (scores.length == 0) { %>
  No scores yet!
<% } %>

<% for (var i = 0; i < scores.length; i++) { %>
  <p><%= scores[i].score %> points in level <%= scores[i].question_id %></p>
<% } %>

<br>

<h2>Achievements</h2>

<table id="achievements_table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Unlocked</th>
    </tr>
  </thead>
  <tbody>
    <% for (var i = 0; i < achievements.length; i++) { %>
      <tr>
        <td><%= achievements[i].name %></td>
        <td><%= achievements[i].description %></td>
        <td>
          <% var ach_status = 'Locked' %>
          <% if (user.achievements.length != 0) { %>
            <% user.achievements.sort(function(a, b) { return a.achievement_id - b.achievement_id }); %>
            <% for (var j = 0; j < user.achievements.length; j++) {%>
              <% if (user.achievements[j].achievement_id == i + 1) {%>
                <% ach_status = user.achievements[j].unlocked %>
              <% } %>
            <% } %>
          <% } %>
          <%= ach_status %>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<script>
  achievementGet(10);
</script>
