Type <%= type %>, level <%= level %>

<h1>Tutorial</h1>
<%= sails.config.myconf.tutorial %>

<br>

<!-- TODO: tutorial content with exercise -->


<h2>Questions</h2>
<%=  questions[0].question %>
<br>
<%=  questions[0].choice1 %>
<br>
<%=  questions[0].choice2 %>
<br>
<%=  questions[0].choice3 %>
<br>
<%=  questions[0].choice4 %>
<br>

<h2>Answer</h2>
<div>
	<input type="text" name="answer">
	<br>
	<input type="submit">
</div>
<br>

<button id="demo" onclick="myFunction()">Next Question</button>

<script>
function myFunction() {
    document.getElementById("demo").style.color = "red";
}
</script>
