<h1><%= title %></h1>
<h4><%= tutorial.description %></h4>

<div id='tutorial-material'>
  <% for (var i = 0; i < tutorial.content.length; i++) { %>
    <% if (tutorial.content[i].type == 'text') { %>
      <p><%= tutorial.content[i].data %></p>
    <% } else if (tutorial.content[i].type == 'image') { %>
      <p><img src='<%= tutorial.content[i].data %>' alt='Image' /></p>
    <% } else if (tutorial.content[i].type == 'video') { %>
      <p><video src='<%= tutorial.content[i].data %>' controls>HTML5 video not supported in this browser</video></p>
    <% } %>
  <% } %>
</div>

<div id='tutorial-exercise'>
  <% if (questions.length > 0) { %>
    <% if (questions.length > 1) { %>
      <h2>Exercises</h2>
    <% } else { %>
      <h2>Exercise</h2>
    <% } %>

    <% for (var i = 0; i < questions.length; i++) { %>
      <% var is_mc = true; %>

      <div class='question'>
        <p><%= questions[i].question %></p>

        <% if (questions[i].choice1) { %>
          <label><input type="radio" name="answer-mc-<%= i %>" value="1"> <%= questions[i].choice1 %></label>
        <% } else { %>
          <input type="text" id="open_answer-<%= i %>">
        <% } %>
        <% if (questions[i].choice2) { %>
          <label><input type="radio" name="answer-mc-<%= i %>" value="2"> <%= questions[i].choice2 %></label>
        <% } %>
        <% if (questions[i].choice3) { %>
          <label><input type="radio" name="answer-mc-<%= i %>" value="3"> <%= questions[i].choice3 %></label>
        <% } %>
        <% if (questions[i].choice4) { %>
          <label><input type="radio" name="answer-mc-<%= i %>" value="4"> <%= questions[i].choice4 %></label>
        <% } %>

        <button class='quiz-submit' id="submit-<%= i %>">Submit</button>

        <!-- this section is for showing answer using post -->
        <form role='form' action='/tutorials/<%= type %>/<%= tutorial.level_num %>' method='post' id="showAns">
          <input type='submit' value='Show Answer'>
        </form>

        <script>

          // Attach a submit handler to the form
          $( "#showAns" ).submit(function( event ) {

            // Stop form from submitting normally
            event.preventDefault();

            // Get some values from elements on the page:
            var $form = $( this ),
              question_id = <%= questions[i].question_id %>,
              url = $form.attr( "action" );

            // Send the data using post, so far only user_solution
            var posting = $.post( url, {questionID:question_id} );


            // Put the results in a div
            posting.done(function( data ) {
              alert(data);

              //var content = $( data ).find( "#content" );
              //$( "#resuilt" ).empty().append( content );
            });

          });
        </script>
      
      </div>

    <% } %>

    <a class='ref-link' target='_blank' href="/ref/<%= type %>">Reference sheet</a>
    <a class='ref-link' target='_blank' href="#" id='btn-toohard'>This is too hard!</a>

  <% } %>
</div>

  <!-- temporarily placed here for solution validation check -->
  <!--
  <form role='form' action='/tutorials/<%= type %>/<%= tutorial.level_num %>' method='post' id="userSol">
    <label>Answer:</label>
    <input type='text' name='user_solution' placeholder='put your solution' required>
    <input type='text' name='questionID' placeholder='question id'>

    <input type='submit' value='submit'>
  </form>
  </div>
  <div id="result"></div>


  <script>

  // Attach a submit handler to the form
  $( "#userSol" ).submit(function( event ) {

    // Stop form from submitting normally
    event.preventDefault();

    // Get some values from elements on the page:
    var $form = $( this ),
      question_id = "1",
      solution = $form.find( "input[name='user_solution']" ).val(),
      url = $form.attr( "action" );

    // Send the data using post, so far only user_solution
    var posting = $.post( url, {user_solution: solution, questionID:question_id} );


    // Put the results in a div
    posting.done(function( data ) {
      alert(data);

      var content = $( data ).find( "#content" );
      $( "#resuilt" ).empty().append( content );
    });

  });
  </script>
  -->

<aside id='dialog-toohard'>
  <iframe width="420" height="315" src="https://www.youtube.com/embed/KxGRhd_iWuE?rel=0" frameborder="0" allowfullscreen></iframe>
</aside>


<script src='/js/jquery.easyModal.js' type='text/javascript'></script>
<script>
  $(document).ready(function () {
    // Linebreaks
    $('#tutorial-material p').each(function () {
      this.innerHTML = this.innerHTML.replace(/(?:\r\n|\r|\n)/g, '<br>');
    });


    // Too hard button
    $('#dialog-toohard').easyModal({
      overlayOpacity: 0.3,
      overlayColor: "#333"
    });

    $('#btn-toohard').click(function (e) {
      e.preventDefault();

      $('#dialog-toohard').trigger('openModal');

      achievementGet(1);
    });


    // Scoring
    var difficulty = <%= tutorial.difficulty %>;
    var score = 100 * difficulty;
    var threshold = Math.ceil(score * 0.75);
    var start = Date.now();
    var end = 0;
    var errors = 0;

    <% for (var i = 0; i < questions.length; i++) { %>
      document.getElementById("submit-<%= i %>").onclick = function (event) {
        event.stopPropagation();

        // Check answer
        // TODO: POST call to check answer

        // Score
        end = Date.now();
        score -= (end - start) / 1000;

        // Ben's old answer validation
        // TODO: replace this with POST call (above)
        if (document.getElementById("open_answer-<%= i %>")) {
          if (document.getElementById("open_answer-<%= i %>").value === "<%= questions[i].answer %>") {
            alert("Question <%= i%>: Correct!");
          }
          else {
            errors++;
            score = score - Math.pow(2, errors);
            alert("Question <%= i %>: Incorrect...");
          }
          alert(document.getElementById("open_answer-<%= i %>").value === "<%= questions[i].answer %>");
        }
        else {
          if ($("input[name='answer-mc-<%= i %>']:checked").val() === "<%= questions[i].answer %>") {
            alert("Question <%= i%>: Correct!");
          }
          else {
            errors++;
            score = score - Math.pow(2, errors);
            alert("Question <%= i %>: Incorrect...");
          }
        }

        if (score <= 0) { score = 0; }

        // Convert score to integer
        score = parseInt(score, 10);

        if (score >= threshold) {
          alert("You passed! Score: " + score);
        }
        else {
          alert("You failed! You got: " + score + " but needed: " + threshold);
        }

        // Achievements?
        if (score < threshold) {
          achievementGet(8);
        }

        if (end - start <= 30000) {
          achievementGet(2);
        }

        // Record score for question
        $.post('/level/<%= questions[i].question_id %>/' + score, function (data) {
          // console.log(data);
        });
      };
    <% } %>
  });

</script>
