Type <%= type %>, level <%= level %>

<h1>Tutorial</h1>
<!-- currently just dislays the content tutorial description
        will add the actual content later -->
<%=  tutorial[0].description %>
<br>


<h2>Questions</h2>

<%= questions[0].question %>
<br>
<% if(questions[0].choice1){ %> <%= questions[0].choice1 %> <%} %>
<br>
<% if(questions[0].choice2){ %> <%= questions[0].choice2 %> <%} %>
<br>
<% if(questions[0].choice3){ %> <%= questions[0].choice3 %> <%} %>
<br>
<% if(questions[0].choice4){ %> <%= questions[0].choice4 %> <%} %>
<br>


<h2>Answers</h2>
<div>
  <input type="text" name="answer">
  <br>
  <input type="submit">
</div>
<br>

<button id="demo">Next Question</button>

<script>
  document.getElementById("demo").onclick = function() {
    this.style.color = "red";
  }
</script>