<!-- Backup of answer verification code while other work is being done -->


<h1>Questions</h1>
	<div class='container'>

		<%=  questions[0].question %>
		<% var is_mc = true; %>
	  	</br>
	  	<!-- Assumed that if there is no 'choice1', it's a long-answer question -->
	  	<form>
		<% if(questions[0].choice1){ %>
			<input type="radio" name="radio_but" value="a"> <%= questions[0].choice1 } %>
		<% else{ is_mc = false; %>
			<input type="text" id="soln"> <%}%>
	  	</br>
		<% if(questions[0].choice2){ %>
			<input type="radio" name="radio_but" value="b"> <%= questions[0].choice2 } %>
		</br>
		<% if(questions[0].choice3){ %>
			<input type="radio" name="radio_but" value="c"> <%= questions[0].choice3 } %>
		</br>
		<% if(questions[0].choice4){ %>
			<input type="radio" name="radio_but" value="d"> <%= questions[0].choice4 } %>
		</form>

		<button id="submit" onClick="verify()">Submit Answer</button>

		<%function verify() {
			if (is_mc) {
				alert($("input[radio_but]:checked").val() === questions[0].answer);
			}
			else {
				alert($("#soln").val() === questions[0].answer);
			}

		}%>

	</div>

</br>


<h1>Answers</h1>
<div>
Dunno if needed TBH, build up the answer forms/checks above
</div>
</br>

<button id="demo" onclick="myFunction()">Next Question</button>

<script>
function myFunction() {
    document.getElementById("demo").style.color = "red";
}
</script>
