Type <%= type %>, level <%= level %>

<h1>Tutorial</h1>
	<div class='container'>
	<!- currently just dislays the content tutorial description
	  		will add the actual content later -->
	<%=  tutorial[0].description %>
	</div>
</br>


<!-- TODO: tutorial content with exercise -->


<h1>Questions</h1>
	<div class='container'>	
	  
		<%=  questions[0].question %>
	  	</br>
		<% if(questions[0].choice1){ %> <%= questions[0].choice1 %> <%} %>
	  	</br>
		<% if(questions[0].choice2){ %> <%= questions[0].choice2 %> <%} %>
		</br>
		<% if(questions[0].choice3){ %> <%= questions[0].choice3 %> <%} %>
		</br>
		<% if(questions[0].choice4){ %> <%= questions[0].choice4 %> <%} %>
		
	</div>

</br>


<h1>Answers</h1>
<div>
	<input type = "text" name = "answer">
	</br>
	<input type = submit>
</div>
</br>

<button id="demo" onclick="myFunction()">Next Question</button>

<script>
function myFunction() {
    document.getElementById("demo").style.color = "red";
}
</script>
