<h1><%= title %></h1>
<h4><%= tutorial.description %></h4>

<div id='tutorial-material'>
  <% for (var i = 0; i < tutorial.content.length; i++) { %>
    <% if (tutorial.content[i].type == 'text') { %>
      <p><%= tutorial.content[i].data %></p>
    <% } else if (tutorial.content[i].type == 'image') { %>
      <p><img src='<%= tutorial.content[i].data %>' alt='Image' /></p>
    <% } else if (tutorial.content[i].type == 'video') { %>
      <p><video src='<%= tutorial.content[i].data %>' controls>HTML5 video not supported in this browser</video></p>
    <% } %>
  <% } %>
</div>

<div id='tutorial-exercise'>
  <% if (questions.length > 0) { %>
    <% if (questions.length > 1) { %>
      <h2>Exercises</h2>
    <% } else { %>
      <h2>Exercise</h2>
    <% } %>

    <% for (var i = 0; i < questions.length; i++) { %>
      <% var is_mc = true; %>

      <div class='question'>
        <p><%= questions[i].question %></p>

        <% if (questions[i].choice1) { %>
          <label><input type="radio" name="answer-mc-<%= i %>" value="1"> <%= questions[i].choice1 %></label>
        <% } else { %>
          <input type="text" id="open_answer-<%= i %>">
        <% } %>
        <% if (questions[i].choice2) { %>
          <label><input type="radio" name="answer-mc-<%= i %>" value="2"> <%= questions[i].choice2 %></label>
        <% } %>
        <% if (questions[i].choice3) { %>
          <label><input type="radio" name="answer-mc-<%= i %>" value="3"> <%= questions[i].choice3 %></label>
        <% } %>
        <% if (questions[i].choice4) { %>
          <label><input type="radio" name="answer-mc-<%= i %>" value="4"> <%= questions[i].choice4 %></label>
        <% } %>

        <button class='quiz-submit'
          id="submit-<%= i %>"
          data-url='/tutorials/validate/<%= questions[i].question_id %>'>Submit</button>
        <button class='show-answer'
          data-url='/tutorials/answer/<%= questions[i].question_id %>'>Show Answer</button>
      </div>
    <% } %>

    <p id='score-tag'>Score: <span id='score'>0</span></p>

    <a class='ref-link' target='_blank' href="/ref/<%= type %>">Reference sheet</a>
    <a class='ref-link' target='_blank' href="#" id='btn-toohard'>This is too hard!</a>
  <% } %>
</div>

<aside id='dialog-toohard'>
  <iframe width="420" height="315" src="https://www.youtube.com/embed/KxGRhd_iWuE?rel=0" frameborder="0" allowfullscreen></iframe>
</aside>


<script src='/js/jquery.easyModal.js' type='text/javascript'></script>
<script>
  $(document).ready(function () {
    // Linebreaks
    $('#tutorial-material p').each(function () {
      this.innerHTML = this.innerHTML.replace(/(?:\r\n|\r|\n)/g, '<br>');
    });

    // Too hard button
    $('#dialog-toohard').easyModal({
      overlayOpacity: 0.3,
      overlayColor: "#333",
      zIndex: function() { return 100000; },
      updateZIndexOnOpen: false
    });

    $('#btn-toohard').click(function (e) {
      e.preventDefault();

      $('#dialog-toohard').trigger('openModal');

      achievementGet(1);
    });


    // Scoring
    var difficulty = <%= tutorial.difficulty %>;
    var length = <%= questions.length %>;
    var score = 100 * difficulty * length;
    $('#score').text(score);
    var threshold = Math.ceil(score * 0.75);
    var seconds = 0
    var timer = setInterval(function(){ secTimer() }, 1000);
    var errors = 0;
    var submitted = [];

    function secTimer() {
      ++seconds;
      if (score >= 1) {
        --score;
        $('#score').text(score);
      }
    }

    // Fetch the answer with a POST call
    $('.show-answer').click(function (e) {
      $.post(this.dataset.url, function (data) {
        alert(data);
      });

      // Set score to 0 for seeing the answer
      score = 0;
      $('#score').text(score);

      e.preventDefault();
    });

    <% for (var i = 0; i < questions.length; i++) { %>
      // Check answer
      $("#submit-<%= i %>").click(function (e) {

        // Gets the user submitted solution.
        // Ternary Condition. If there's an open-answer question, get that element's value.
        // If there isn't then it's a mult-choice question, and get the value of the checked button.
        var submitted = $("#open_answer-<%= i %>") ?
                          $("#open_answer-<%= i %>").val() :
                          $("input[name='answer-mc-<%= i %>']:checked").val();

        // Don't do anything if it's an empty textbox
        if ($("#open_answer-<%= i %>") && $("#open_answer-<%= i %>").val() === '')
          return;

        // Don't do anything if it's an unchecked set of radio buttons
        if ($("[name='answer-mc-<%= i %>']") && $("input[name='answer-mc-<%= i %>']:checked").length === 0)
          return;

        // Uses a POST call to find out if the user was correct or not
        $.post(this.dataset.url, { user_solution: submitted }, function (data) {

            // Correct answer
            if (data === 'true') {
              // Adds all the submitted results in an array
              if ($.inArray(<%= i %>, submitted) === -1) {
                submitted.push(<%= i %>);
              }

              // Stops this quiz's timer when the user has submitted a correct answer to every question
              if (submitted.length === length) {
                clearInterval(timer);
              }

              alert("Question <%= i %>: Correct!");

              // Convert score to integer
              score = parseInt(score, 10);

              // Passed
              if (score >= threshold) {
                alert("You passed! Score: " + score);

                if (seconds <= 30) {
                  achievementGet(2);
                }
              }

              // Failed
              else {
                alert("You failed! You got: " + score + " but needed: " + threshold);

                achievementGet(8);
              }
            }

            // Wrong answer
            else {
              alert("Question <%= i %>: Incorrect!");

              ++errors;
              score -= Math.pow(2, errors);
              $('#score').text(score);
            }
        });

        // Record score for question
        $.post('/level/<%= questions[i].question_id %>/' + score, function (data) {});

        e.preventDefault();
      });
    <% } %>
  });
</script>
