<h1><%= title %></h1>
<h4><%= tutorial.description %></h4>

<div id='tutorial-material'>
  <% for (var i = 0; i < tutorial.content.length; i++) { %>
    <% if (tutorial.content[i].type == 'text') { %>
      <p><%= tutorial.content[i].data %></p>
    <% } else if (tutorial.content[i].type == 'image') { %>
      <p><img src='<%= tutorial.content[i].data %>' alt='Image' /></p>
    <% } else if (tutorial.content[i].type == 'video') { %>
      <p><video src='<%= tutorial.content[i].data %>' controls>HTML5 video not supported in this browser</video></p>
    <% } %>
  <% } %>
</div>

<div id='tutorial-exercise'>
  <% if (questions.length > 1) { %>
    <h2>Exercises</h2>
  <% } else { %>
    <h2>Exercise</h2>
  <% } %>

  <% for (var i = 0; i < questions.length; i++) { %>
    <% var is_mc = true; %>

    <div class='question'>
      <p><%= questions[i].question %></p>

      <% if (questions[i].choice1) { %>
        <label><input type="radio" name="answer-mc-<%= i %>" value="1"> <%= questions[i].choice1 %></label>
      <% } else { %>
        <input type="text" id="open_answer-<%= i %>">
      <% } %>
      <% if (questions[i].choice2) { %>
        <label><input type="radio" name="answer-mc-<%= i %>" value="2"> <%= questions[i].choice2 %></label>
      <% } %>
      <% if (questions[i].choice3) { %>
        <label><input type="radio" name="answer-mc-<%= i %>" value="3"> <%= questions[i].choice3 %></label>
      <% } %>
      <% if (questions[i].choice4) { %>
        <label><input type="radio" name="answer-mc-<%= i %>" value="4"> <%= questions[i].choice4 %></label>
      <% } %>

      <button id="submit-<%= i %>">Submit</button>
    </div>
  <% } %>
</div>

<script>
  $(document).ready(function () {
    var score = 100;
    var start = Date.now();
    var end = 0;
    var errors = 0;

    <% for (var i = 0; i < questions.length; i++) { %>
      document.getElementById("submit-<%= i %>").onclick = function(event) {
        end = Date.now();
        score -= (start - end) / 1000;

        if (document.getElementById("open_answer-<%= i %>")) {
          if (document.getElementById("open_answer-<%= i %>").value === "<%= questions[i].answer %>") {
            alert("Question <%= i%>: Correct!");
          }
          else {
            errors++;
            score = score - Math.pow(2, errors);
            alert("Question <%= i %>: Incorrect...");
          }
          alert(document.getElementById("open_answer-<%= i %>").value === "<%= questions[i].answer %>");
        }
        else {
          if ($("input[name='answer-mc-<%= i %>']:checked").val() === "<%= questions[i].answer %>") {
            alert("Question <%= i%>: Correct!");
          }
          else {
            errors++;
            score = score - Math.pow(2, errors);
            alert("Question <%= i %>: Incorrect...");
          }
        }

        if (score > 0) {
          score = 0;
        }
        event.stopPropagation();
      };
    <% } %>
    alert("Score: " + score);
  });

</script>
